:root {
  --color-dark: #8F2E14;
  --color-medium: #8A3319;
  --color-light: #8A3B00;

  --color-text: #D4DCD6;
  --color-text-quote: #ADA250;
  --color-highlight: #EB6EA5;

  --color-link: #C8C2BE;
  --color-visited: #A99E93;

  --color-border: #828282;
  --color-row-border: black;
}
