:root {
  --color-dark: #00003D;
  --color-medium: #000052;
  --color-light: #000066;

  --color-text: #D0BDBD;
  --color-text-quote: teal;
  --color-highlight: #9966CC;

  --color-link: #00B0DF;
  --color-visited: #6688BB;

  --color-border: #828282;
  --color-row-border: black;
}
